@import "setup";

// Variables
$c1: #363636;  // Grey 
$c2: #2d2d2d; // Dark Grey

// General
//-------------------------------------------------

html {
	background-color: $c1; 
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

section {
	width: calc(100% - 40px);
	position: relative;
}

div.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

// Nav Icon
//-------------------------------------------------

.nav-icon {
	fill:#f9f9fa;
	width: 25px;
}

// Hero
//-------------------------------------------------

section.hero {
	background-color: $c2;
	// padding: 200px 0;
	min-height: calc(100vh - 40px);
	margin: 20px auto 0; 

	&::after {
		content: "";
		height: 55px;
		width: 55px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: $c1;
	}

	.nav-icon {
		position: absolute; 
		top: 25px;
		right: 25px;
		overflow: hidden;
	}
	
	.container {
		height: calc(100vh - 40px);
		position: relative;
		top: 0;
		bottom: 0;
	}

	.hero-crest {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	 	vertical-align: middle;
	 	width: 70%;
	 	margin: auto auto auto 100px;
	}
}

// Hero
//-------------------------------------------------





